/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/colors';
@use 'public/styles/foundation/fonts';
@use 'public/styles/foundation/responsive';
@use 'public/styles/foundation/animations';

/* ------------------ ANIMATIONS ----------------------- */

@include animations.keyframes($name: bouncingBalls) {
	0% {
		transform:scale(0, 0);
	}

	40% {
		transform:scale(1, 1);
	}

	80% {
		transform:scale(0, 0);
	}

	100% {
		transform:scale(0, 0);
	}
}

@include animations.keyframes($name: fadeIntoView) {
	0% {
		opacity: 0.0;
	}

	70% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

/* ----------------------- TOAST ----------------------------- */

.custom-error-toast {
	@include fonts.define-font($size: fonts.$secondary, $family: Poppins) {
		color: colors.$white;
	};

	border: {
		radius: 20px;
	}

	padding: 10px;
	background-color: colors.$negative-red;

	@include responsive.tablet-up() {
		min-width: 250px;
		max-width: 500px;
	}

	@include responsive.phone-only() {
		width: 175px;
		max-width: 300px;
	}

	.close-icon {
		padding: {
			right: 40px;
		}

		width: 12px;
		height: 12px;
		text-align: right;
		cursor: pointer;
	}

	.error-icon {
		width: 100%;
		text-align: center;

		svg {
			width: 48px;
			height: 48px;
		}
	}

	.custom-error-body {
		padding: 10px;
		width: 100%;
		text-align: left;
	}
}

.validation-error-list {
	text-align: left;

	& > li {
		text-align: left;
	}
}

/* ----------------------- LOADERS ----------------------------- */

#base-loader-overlay {
	@include animations.transition-settings($property: opacity, $duration: 0.3s);

	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: colors.$white;
	opacity: 0;
	z-index: -9999;

	& > div {
		margin: {
			top: 25px;
			bottom: 25px;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
}

#loading-text {
	@include fonts.define-font($weight: 700, $size: fonts.$header, $family: Comfortaa);
	@include animations.animation-settings($keyframeSet: fadeIntoView, $duration: 1.5s, $timing: linear, $iterations: 1, $persist: true);

	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: colors.$cadet-blue;
}

.section-loading-text {
	@include fonts.define-font($weight: 700, $size: fonts.$section, $family: Comfortaa);
	@include animations.animation-settings($keyframeSet: fadeIntoView, $duration: 1.5s, $timing: linear, $iterations: 1, $persist: true);

	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: colors.$cadet-blue;
}

.loading-ball {
	@include animations.animation-settings($keyframeSet: bouncingBalls, $duration: 1.5s, $timing: ease-in-out, $iterations: infinite);

	margin: {
		left: 30px;
		right: 30px;
	}

	width: 50px;
	height: 50px;
	background-color: colors.$cadet-blue;
	border-radius: 100%;
	animation-fill-mode: both;

	&:nth-of-type(1) {
		animation-delay: 0s;
	}

	&:nth-of-type(2) {
		animation-delay: 0.15s;
	}

	&:nth-of-type(3) {
		animation-delay: 0.3s;
	}
}

.uploading-indicators {
	@include animations.transition-settings($property: opacity, $duration: 0.25s);

	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	opacity: 1.0;
	z-index: -250;

	& > .section-loading-text {
		color: colors.$indian-red;
		text-transform: none;
		width: 100%;
	}

	& > .loading-ball {
		background-color: colors.$indian-red;
		width: 30px;
		height: 20px;
	}
}