/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/common';
@use 'public/styles/page/lib/base';

/* ----------------------- PLACEHOLDERS ----------------------------- */

%home-section {
	@include common.fonts-define-font($size: common.$fonts-subsection) {
		letter-spacing: 0.75px;
		font-weight: 300;
		line-height: 1.5em;
	};

	padding: {
		top: 40px;
		bottom: 40px;
	}
}

%home-section-header {
	@include common.fonts-define-font($family: var(--font-raleway), $size: common.$fonts-subsection) {
		letter-spacing: 5px;
	};

	border-bottom: {
		width: 0.5px;
		style: solid;
	}

	text-align: center;

	@include common.responsive-tablet-up() {
		margin: {
			top: 15px;
			bottom: 15px;
		}

		padding: {
			left: 100px;
			right: 100px;
		}
	}

	@include common.responsive-phone-only() {
		margin: {
			top: 10px;
			bottom: 25px;
		}

		padding: {
			left: 50px;
			right: 50px;
		}
	}

	@include common.responsive-portrait-phone-only() {
		padding: {
			left: 25px;
			right: 25px;
		}
	}
}

/* ----------------------- EXPORTED VARIABLES ----------------------------- */

/* stylelint-disable */
:export {
	silverSkeleton: common.$colors-gray;
	whiteHighlighter: common.$colors-smoke-white;
};
/* stylelint-enable */

/* ----------------------- CLASSES ----------------------------- */

.section-descriptive-text {
	margin: {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 15px;
	}

	text-align: center;
}

.home-video-container {
	position: relative;
	width: 100vw;

	@include common.responsive-desktop-only() {
		height: 70vh;
	}

	@include common.responsive-portrait-mobile-only() {
		height: 50vh;
	}

	@include common.responsive-landscape-mobile-only() {
		height: 65vh;
	}

	video {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.m-logo-container {
	position: relative;

	@include common.responsive-desktop-only() {
		width: 128px;
		height: 128px;
	}

	@include common.responsive-tablet-only() {
		width: 96px;
		height: 96px;
	}

	@include common.responsive-phone-only() {
		width: 80px;
		height: 80px;
	}
}

.company-name {
	@include common.fonts-define-font($size: common.$fonts-header) {
		letter-spacing: 10px;
		color: common.$colors-white;
	}

	z-index: 1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(to right, rgba(0 0 0 / 0%), rgba(0 0 0 / 35%), rgba(0 0 0 / 0%));
	width: 90%;

	@include common.responsive-portrait-phone-only() {
		font-size: 25px;
		letter-spacing: 5px;
	}
}

.products-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.products-section-header {
	@extend %home-section-header;

	color: common.$colors-slate-gray;
	border-bottom-color: common.$colors-slate-gray;
}

.product-box-listing {
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 90%;

	@include common.responsive-mobile-only() {
		flex-wrap: wrap;
	}
}

.product-box {
	border: {
		width: 1px;
		color: common.$colors-silver;
		style: solid;
	}

	padding: 15px;
	max-width: 400px;
	background-color: common.$colors-smoke-white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.product-box-title {
	@include common.fonts-define-font($family: var(--font-avenir-heavy), $size: common.$fonts-subsection);

	margin: {
		bottom: 10px;
	}
}

.product-box-text {
	@include common.fonts-define-font();

	margin: {
		top: 10px;
	}
}

.product-box-learning-link {
	@include common.fonts-define-font($family: var(--font-raleway)) {
		text-decoration: underline;
	};

	margin: {
		top: auto;
		bottom: 10px;
	}
}

.about-us-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: common.$colors-slate-gray;
	color: common.$colors-white;
}

.about-us-section-header {
	@extend %home-section-header;

	border-bottom-color: common.$colors-white;
}

.about-us-text {
	margin: {
		left: 10px;
		right: 10px;
	}

	padding: {
		left: 30px;
		right: 30px;
	}

	border: {
		style: solid;
		color: common.$colors-white;
		top: none;
		bottom: none;
		top-left-radius: 25px;
		bottom-right-radius: 25px;
	}

	width: 80%;

	@include common.responsive-tablet-up() {
		border: {
			width: 4px;
		}
	}

	@include common.responsive-phone-only() {
		border: {
			width: 2px;
			top-right-radius: 25px;
			bottom-left-radius: 25px;
		}
	}
}

.about-us-paragraph {
	margin: {
		top: 20px;
		bottom: 20px;
	}
}

.stats-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: common.$colors-indian-red;
	color: common.$colors-white;
}

.stats-section-header {
	@extend %home-section-header;

	color: common.$colors-white;
	border-bottom-color: common.$colors-white;
	text-shadow: 1px 1px common.$colors-black;
}

.stats-score-display {
	margin: {
		left: 5px;
		right: 5px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	@include common.responsive-mobile-only() {
		flex-direction: column;
	}
}

.stat-container {
	margin: {
		top: 25px;
		bottom: 25px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;
}

.stat-metric {
	@include common.fonts-define-font($size: common.$fonts-subheader, $family: var(--font-roboto-mono)) {
		letter-spacing: 2px;
	};
}

.stat-label {
	@include common.fonts-define-font($size: common.$fonts-subsection, $family: var(--font-avenir-light)) {
		letter-spacing: 0.5px;
	};

	margin-top: 8px;
}

.stats-as-of-date {
	@include common.fonts-define-font($family: var(--font-avenir-light)) {
		font-style: italic;
	};

	border: {
		width: 1px;
		color: common.$colors-white;
		style: solid;
		top: none;
		bottom:none;
		top-left-radius: 15px;
		bottom-right-radius: 15px;
	}

	margin: {
		left: auto;
		right: auto;
	}

	padding: 15px;
	text-align: center;
}

.gallery-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: common.$colors-steel-blue;
	color: common.$colors-white;
}

.gallery-section-header {
	@extend %home-section-header;

	color: common.$colors-white;
	border-bottom-color: common.$colors-white;
	text-shadow: 1px 1px common.$colors-black;
}

.gallery-images-container {
	@include common.animations-transition-settings($property: height, $duration: 0.5s);

	display: grid;
	width: 100%;
	overflow: hidden;

	@include common.responsive-tablet-up() {
		grid-template-columns: repeat(3, 1fr);
	}

	@include common.responsive-phone-only() {
		grid-template-columns: repeat(2, 1fr);
	}
}

.gallery-image-outer-slot {
	margin: {
		top: 15px;
		bottom: 15px;
		left: 10px;
		right: 10px;
	}

	display: flex;
	justify-content: center;
}

.gallery-image-inner-slot {
	object-fit: contain;
	position: relative;
	cursor: pointer;

	@include common.responsive-desktop-only() {
		width: 300px;
		height: 300px;
	}

	@include common.responsive-tablet-only() {
		width: 250px;
		height: 250px;
	}

	@include common.responsive-phone-only() {
		width: 150px;
		height: 150px;
	}
}

.expand-gallery-link {
	@include common.fonts-define-font() {
		color: common.$colors-white;
	};

	margin: {
		top: 20px;
		bottom: 15px;
	}

	&-active {
		@extend .expand-gallery-link;

		cursor: pointer;
		text-decoration: underline;
	}
}

.review-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.review-section-header {
	@extend %home-section-header;

	color: common.$colors-slate-gray;
	border-bottom-color: common.$colors-slate-gray;
}

.review-block {
	margin: {
		top: 10px;
		bottom: 10px;
		left: auto;
		right: auto;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include common.responsive-tablet-up() {
		width: 80%;
	}

	@include common.responsive-phone-only() {
		width: 90%;
	}

	@include common.responsive-portrait-mobile-only() {
		width: 350px;
	}
}

.review-block-body {
	@include common.fonts-define-font();

	width: 100%;
	text-align: center;
}

.review-block-author {
	@include common.fonts-define-font($size: common.$fonts-subsection) {
		text-decoration: underline;
	};

	width: 150px;
	text-align: center;
}

.review-block-data {
	@include common.fonts-define-font($family: var(--font-roboto-mono));

	width: 150px;
	text-align: center;
}

.review-block-star {
	margin: {
		left: 2px;
		right: 2px;
	}

	color: common.$colors-gold;
	font-size: common.$fonts-subsection;
}

.review-block-images {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	& > img {
		margin: {
			top: 10px;
			bottom: 10px;
			left: 20px;
			right: 20px;
		}
	}

	height: 200px;

	@include common.responsive-tablet-up() {
		width: 80%;
	}

	@include common.responsive-phone-only() {
		width: 90%;
	}

	@include common.responsive-portrait-mobile-only() {
		width: 350px;
	}
}

.special-thanks-section {
	@extend %home-section;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: common.$colors-silver;
}

.special-thanks-section-header {
	@extend %home-section-header;
}

.special-thanks-text {
	text-align: center;
}

.special-thanks-logo-container {
	margin: {
		left: 10px;
		right: 10px;
		top: 20px;
		bottom: 30px;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.special-thanks-logo {
	@include common.responsive-tablet-up() {
		margin: {
			left: 20px;
			right: 20px;
		}
	}

	@include common.responsive-phone-only() {
		margin: {
			left: 10px;
			right: 10px;
		}
	}
}