/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/colors';
@use 'public/styles/foundation/fonts';
@use 'public/styles/foundation/common';
@use 'public/styles/page/lib/form';

/* ----------------------- STYLES ----------------------------- */

#page-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.logo-header-container {
	margin: {
		top: 50px;
		bottom: 25px;
	}

	display: flex;
	justify-content: center;
	width: 100%;
	background-color: colors.$logo-blue;
}

.logo-header {
	width: 180px;
	height: 135px;
}

.c-suite-header {
	@extend %page_header;
}

#login-box {
	margin: {
		left: auto;
		right: auto;
	}

	border: {
		width: 0;
		radius: 20px;
		style: solid;
	}

	background-color: colors.$white;
	box-shadow: 3px 3px 10px colors.$low-black;
}

#login-box-body {
	padding: {
		top: 15px;
		bottom: 15px;
		left: 30px;
		right: 30px;
	}

	& > label {
		display: block;
	}
}

#remember-me {
	margin: {
		top: 10px;
		bottom: 10px;
	}

	text-align: left;
}

.button-primary {
	@include form.banner-button();

	border: {
		bottom-left-radius: 20px;
		bottom-right-radius: 20px;
	}
}