/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/common';
@use 'public/styles/page/lib/base';
@use 'public/styles/page/lib/form';

/* ----------------------- PLACEHOLDERS ----------------------------- */

%column-header {
	@include common.fonts-define-font($size: common.$fonts-section, $family: Comfortaa);
}

%order-box-column {
	align-items: center;
	justify-content: center;
	flex-direction: column;

	& > div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

%order-box-section-header {
	@include common.fonts-define-font($family: Avenir Heavy);

	padding: {
		top: 10px;
		bottom: 10px;
	}
	border-bottom: {
		width: 0.75px;
		style: solid;
		color: common.$colors-slate-gray;
	}

	background-color: common.$colors-lavender;
}

/* ----------------------- STYLES ----------------------------- */

.page-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.section-divider {
	@extend %section-divider;
}

.page-button-section {
	margin: 25px;
	width: 100%;
	text-align: center;
}

.create-order-button {
	@include form.primary-button($width: 250px);
}

.filter-section {
	margin: {
		top: 15px;
		bottom: 15px;
		left: 25px;
		right: 10px;
	}

	text-align: left;
	width: 100%;
}

.filter-row {
	display: flex;
	width: 90%;
	align-items: center;
}

.filter-label {
	@include common.fonts-define-font($family: Comfortaa);

	margin: 20px;
}

.filter-values {
	@include common.fonts-define-font($family: Avenir Light);

	flex-grow: 1;
}

.filter-input-grouping {
	@extend %input-grouping;

	margin: 0;
	background-color: common.$colors-white;
	box-shadow: 0.5px 0.5px 2px common.$colors-black;
}

.order-search-field {
	@extend %large-input-control;	
}

.order-search-field-icon {
	@extend %input-grouping-icon;
}

.filter-value-icon {
	border: {
		width: 0.5px;
		color: common.$colors-gray;
		style: solid;
		left: none;
	}

	height: 2em;
	width: 50px;
	cursor: pointer;
	color: common.$colors-slate-gray;
	display: inline-block;
}

.orders-listing {
	width: 100%;
}

.order-box {
	@include common.fonts-define-font();

	border: {
		width: 2px;
		style: solid;
		color: common.$colors-slate-gray;
		radius: 15px;
	}
	margin: {
		left: auto;
		right: auto;
		top: 40px;
		bottom: 40px;
	}

	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.order-box-info-row {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.order-box-customer-info-sub-column {
	outline: {
		width: 0.75px;
		style: solid;
		color: common.$colors-slate-gray;
	}

	display: flex;
	align-items: center;
	flex-direction: column;
}

.order-box-section-header {
	@include common.fonts-define-font($family: Avenir Heavy);

	padding: {
		top: 10px;
		bottom: 10px;
	}
	border-bottom: {
		width: 0.75px;
		style: solid;
		color: common.$colors-slate-gray;
	}

	background-color: common.$colors-lavender;
}

.order-box-general-info-column {
	@extend %order-box-column;

	flex: 2;
}

.order-box-customer-info-column {
	@extend %order-box-column;

	flex: 3;
}

.order-box-date-column {
	@extend %order-box-column;

	flex: 2;
}

.order-box-general-info-header {
	@extend %order-box-section-header;
}

.order-box-dates-header {
	@extend %order-box-section-header;

	border: {
		top-right-radius: 15px;
	}
}

.order-box-id {
	@include common.fonts-define-font($size: common.$fonts-section);

	border: {
		top-left-radius: 15px;
	}

	background-color: common.$colors-lavender;
	height: 50%;
	letter-spacing: 2px;
}

.order-box-status {
	@include common.fonts-define-font($size: common.$fonts-section);

	border: {
		width: 0.75px;
		style: solid;
		color: common.$colors-slate-gray;
	}

	color: common.$colors-success;
	height: 50%;
}

.order-box-company-name {
	font-style: italic;	
}

.order-box-datum {
	border: {
		width: 0.5px;
		style: solid;
		color: common.$colors-gray;
		bottom: none;
	}

	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;

	& > span, & > a {
		padding: {
			top: 10px;
			bottom: 10px;
			left: 10px;
			right: 5px;
		}

		border-left: {
			width: 0.5px;
			style: solid;
			color: common.$colors-silver;
		}
	}
}

.order-box-date-datum {
	margin: {
		top: 15px;
		bottom: 15px;
		left: 5px;
		right: 5px;
	}

	display: flex;
	flex-direction: column;
}

.order-box-icon {
	padding: {
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}

	width: 25px;
	color: common.$colors-slate-gray;
}

.order-box-date-label {
	margin: {
		bottom: 5px;
	}

	text-decoration: underline;
	font-weight: 700;
}

.order-box-file-upload {
	display: block;
	width: 100%
}