/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/common';
@use 'public/styles/page/lib/base';
@use 'public/styles/page/lib/form';

/* ----------------------- PLACEHOLDERS ----------------------------- */

%input-group {
	margin: {
		top: 5px;
		left: 10px;
		right: 10px;
		bottom: 10px;
	}

	display: flex;
	flex-direction: column;
}

/* ----------------------- STYLES ----------------------------- */

.page-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.page-header {
	@extend %page-header;
}

.page-divider {
	@extend %page-divider;
}

.section-divider {
	@extend %section-divider;
}

.order-form-label {
	@extend %label;
}

.order-form-section {
	margin: {
		top: 10px;
		bottom: 10px;
		left: 20px;
		right: auto;
	}

	display: flex;
	flex-wrap: wrap;
}

.input-group {
	@extend %input-group;
}

.input-control {
	@extend %input-control;
}

.small-input-group {
	@extend %input-group;

	flex: 1;
}

.small-input-control {
	@extend %small-input-control;
}

.medium-input-group {
	@extend %input-group;

	flex: 2;
}

.medium-input-control {
	@extend %medium-input-control;
}

.large-input-group {
	@extend %input-group;

	flex: 3;
}

.large-input-control {
	@extend %large-input-control;
}

.input-sub-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.design-input-group {
	display: flex;

	& > textarea {
		@extend %input-control;

		margin: {
			left: 7px;
			right: 7px;
		}

		height: 6em;

		@include common.responsive-tablet-up() {
			min-width: 250px;
			max-width: 350px;
		}
		@include common.responsive-phone-only() {
			min-width: 200px;
			max-width: 275px;
		}
	}
}