/* ----------------------- IMPORTS ----------------------------- */

@use 'public/styles/foundation/common';
@use 'public/styles/page/lib/base';
@use 'public/styles/page/lib/form';

/* ----------------------- STYLES ----------------------------- */

.page-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.page-header {
	@extend %page-header;
}

.first-page-divider {
	@extend %page-divider;

	margin-top: 0;
}

.page-divider {
	@extend %page-divider;
}

.section-divider {
	@extend %section-divider;
}

.order-form-label {
	@extend %label;

	margin-right: 3px;
}

.order-form-input-directions {
	@include common.fonts-define-font($size: common.$fonts-special, $family: Avenir Light) {
		letter-spacing: 0.3px;
		color: common.$colors-low-black;
		font-style: italic;
	}

	margin: {
		left: 5px;
		right: 5px;
	}
}

.order-id-box {
	@include common.fonts-define-font($size: common.$fonts-subsection, $family: Comfortaa) {
		font-style: italic;
	};

	border: {
		width: 0.5px;
		style: solid;
		color: common.$colors-low-black;
		bottom: none;
		top-left-radius: 15px;
		top-right-radius: 15px;
	}

	padding: 15px;
	background-color: common.$colors-gray;
}

.order-form-section {
	margin: {
		top: 10px;
		bottom: 10px;
		left: 25px;
		right: 25px;
	}

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}

.order-prices-section {
	margin: {
		top: 35px;
		bottom: 10px;
		left: auto;
		right: auto;
	}

	border: {
		radius: 10px;
		width: 1px;
		style: solid;
		color: common.$colors-silver;
	}

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.input-group {
	margin: {
		top: 5px;
		left: 20px;
		right: 20px;
		bottom: 10px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wide-input-group {
	@extend .input-group;

	align-items: flex-start;

	@include common.responsive-desktop-only() {
		width: 60%;
	}

	@include common.responsive-tablet-only() {
		width: 70%;
	}

	@include common.responsive-phone-only() {
		width: 80%;
	}

	@include common.responsive-portrait-phone-only() {
		width: 90%;
	}
}

.price-group {
	margin: {
		top: 10px;
		bottom: 10px;
		left: 15px;
		right: 15px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.order-details-input-row {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.small-input-control {
	@extend %small-input-control;
}

.medium-input-control {
	@extend %medium-input-control;
}

.large-input-control {
	@extend %large-input-control;
}

.input-sub-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.design-input-group {
	display: flex;

	& > textarea {
		@extend %input-control;

		margin: {
			left: 7px;
			right: 7px;
		}

		height: 6em;

		@include common.responsive-tablet-up() {
			min-width: 250px;
			max-width: 350px;
		}
		@include common.responsive-phone-only() {
			min-width: 200px;
			max-width: 275px;
		}
	}
}

.order-payment-section {
	margin: {
		top: 10px;
		bottom: 10px;
		left: 20px;
		right: auto;
	}

	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.order-input-neighboring-text {
	@include common.fonts-define-font($size: common.$fonts-secondary, $family: Comfortaa) {
		font-style: italic;
	};

	margin: {
		left: 5px;
		right: 5px;
	}
}

.price-label {
	@include common.fonts-define-font($size: common.$fonts-secondary, $family: Avenir Heavy) {
		letter-spacing: 0.3px;
		color: common.$colors-low-black;
	}
}

.price-text {
	@include common.fonts-define-font($size: common.$fonts-secondary, $family: Comfortaa) {
		letter-spacing: 1.5px;
	};
}

.order-details-section-action-button {
	@include form.minor-button();

	margin: {
		left: 10px;
	}
}

.salesman-delete-button {
	@include form.minor-button();

	& > svg {
		margin-left: 3px;
	}
}

.order-details-footer-padding {
	height: 100px;
}

.order-details-action-footer {
	border-top: {
		style: solid;
		width: 3px;
		color: common.$colors-slate-gray;
	}

	padding: {
		top: 15px;
		bottom: 15px;
	}

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	z-index: 100;
	background-color: common.$colors-white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: scroll;
	overflow-y: clip;

	@include common.responsive-landscape-phone-only() {
		height: 40px;
	}
}

.order-details-action-button {
	@include form.primary-button($bgColor: common.$colors-cadet-blue, $width: 250px);

	margin: {
		left: 20px;
		right: 20px;
	}
}